doctype html
html
    include head.pug
    body
        h1= message
        ul
        
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io.connect('http://localhost:8080');
            socket.on('tweet', function (tweet) {
                console.log(tweet.text);
            });
