doctype html
html
    include head.pug
    body
        h1= message
        ul
            each tweet in tweets
                li= tweet.text
        .move-center
            ul.top_hash
                li Fabian Bengtsson
                li Målar-Mohammed
                li Markoolio
                li Scooby Doo
                li Gammel Smurfen
                li Turbo Kenta