html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}
