.main {
    display: flex;
    justify-content: space-between;
}

.feed-popular-container {
    max-width: 300px;
}

.feed-live-container {
    max-width: 300px;
    background: #100f0f;
}

.tweet-popular-content {
    &__img {
        width: 100%;
    }
}
