.feed {
    margin: 0 auto;
    max-width: 400px;
}

.tweet {
    border: 5px solid #fff;
    margin-bottom: 50px;
}


.tweet-user {

    &__img {

    }

    &__created {

    }

}

.tweet-content {

    &__text {
    }

    &__img {
        width: 100%;
    }

}

.tweet-info {

    &__rt {

    }

    &__likes {

    }

}
