.header {
    width: 100%;
    padding: 10px 0;

    &__img {
        padding-left: 10px;
        width: 200px;
        display: inline-block;
        vertical-align: middle;
    }

    &__title {
        color: $cannesGold;
        font-size: 4.0rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;

    }

}


.title-border {
    background: $cannesGold;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;

    &__title {
        color: #fff;
    }
}
